.login-container {
    padding: 20px;
    background-color: #f4f4f4;
}

.brand-logo img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.brand-logo {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 15px;
}

h5 {
    margin-top: 20px;
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

ol {
    padding-left: 20px;
    margin-bottom: 20px;
}
