@page "/"

<PageTitle>East India Team 2</PageTitle>

<div class="login-container">
    <div class="brand-logo">
        <img src="images/EIC_LOGO.webp" alt="Brand Logo">
    </div>
    <h1>Welcome to East India Application from Team 2</h1>

    <div class="row mt-5">
        <div class="col-md-6">
            <img src="images/main_background.png" class="img-fluid" alt="Background Image">
        </div>
        <div class="col-md-6">
            <h4>Getting started</h4>
            <ol>
                <li>Try the <a href="distancecalculator">Booking Request</a> and the authentication mentioned below!</li>
                <li>Browse the code to figure out the details and make your own changes.</li>
            </ol>

            <h5>Authentication</h5>
            <p>You can try the login in the top right corner with the following credentials:</p>
            <ul>
                <li>Username: phunguyen</li>
                <li>Password: phu123!</li>
            </ul>
            <AuthorizeView>
                <span class="alert alert-success"><span class="oi oi-lock-locked" aria-hidden="true"></span> This content requires authentication. You are logged in as @context.User.Identity?.Name</span>
            </AuthorizeView>
        </div>
    </div>
</div>



